# Prometheus Stack Versions
PROMETHEUS_VERSION=v2.54.1
GRAFANA_VERSION=11.4.0
ALERTMANAGER_VERSION=v0.27.0
PROMETHEUS_ALERT_VERSION=latest
BLACKBOX_VERSION=v0.25.0
VMWARE_EXPORTER_VERSION=v0.18.4
NODE_EXPORTER_VERSION=v1.8.2

# Grafana
GF_ADMIN_USER=admin
GF_ADMIN_PASSWORD=admin

# VMware Exporter (fill in your vSphere credentials)
VSPHERE_HOST=your-vsphere-host
VSPHERE_USER=administrator@vsphere.local
VSPHERE_PASSWORD=your-password
