# Kong 版本（完整 tag）：
KONG_VERSION=3.9                # 默认
# KONG_VERSION=3.8
# KONG_VERSION=3.7

# PostgreSQL 版本
POSTGRES_VERSION=16-alpine      # 默认
# POSTGRES_VERSION=15-alpine
# POSTGRES_VERSION=14-alpine

# PostgreSQL 配置
POSTGRES_USER=kong
POSTGRES_PASSWORD=kong
POSTGRES_DB=kong
POSTGRES_PORT=5432

# Kong 端口
KONG_PROXY_PORT=8000
KONG_PROXY_SSL_PORT=8443
KONG_ADMIN_PORT=8001
KONG_ADMIN_SSL_PORT=8444
