# MinIO 版本（RELEASE.yyyy-mm-dd 格式）：
VERSION=RELEASE.2025-09-07T16-13-09Z   # 默认：最新稳定
# VERSION=RELEASE.2024-10-13T13-34-11Z
# VERSION=RELEASE.2023-03-20T20-16-18Z

TIMEZONE=Asia/Shanghai
PORT=9000

MINIO_ACCESS_KEY=miniouser
MINIO_SECRET_KEY=miniopassword